# List files that should not be committed
.*swp
.*swo
.*swn
*~

# Configure time
/Makefile
aclocal.m4
autom4te.cache
config.log
config.status
setup/config.fh
setup/config.h
setup/constants.h
setup/constants_tomography.h
setup/precision.h
setup/version.fh
# local archives
arc/

# Build time
bin/
obj/
OUTPUT_FILES/*

# Documentation
doc/USER_MANUAL/figures/*-eps-converted-to.pdf

#
slurm*
submit*
