[submodule "m4"]
	path = m4
	url = https://github.com/geodynamics/autoconf_cig.git
[submodule "EXAMPLES"]
	path = EXAMPLES
	url = git://vcs.geodynamics.org/specfem3d_globe_examples
[submodule "DATA"]
	path = DATA
	url = git://vcs.geodynamics.org/specfem3d_globe_data
