# example parameter file for the Pyrized verion of Specfem 3D Globe


######################################################################
[Specfem3DGlobe]                                  ; general parameters

# model (isotropic_prem, transversly_isotropic_prem,
# iaspei, s20rts, Brian_Savage, Min_Chen)
model = isotropic_prem


######################################################################
[Specfem3DGlobe.mesher]                            ; mesher parameters

# number of chunks (1,2,3 or 6)
nchunks = 6

# angular width of the first chunk (not used if full sphere with six chunks)
angular-width-xi        = 90.0*deg      # angular size of a chunk
angular-width-eta       = 90.0*deg

center-latitude         = 40.0*deg
center-longitude        = 10.0*deg

gamma-rotation-azimuth  = 20.0*deg

# number of elements at the surface along the two sides of the first chunk
# (must be 16 * multiple of 'nproc' below)
nex-xi     = 160
nex-eta    = 160

# number of MPI processors along the two sides of the first chunk
nproc-xi   = 5
nproc-eta  = 5

# save mesh files to check the mesh
save-files = False


######################################################################
[Specfem3DGlobe.model]                              ; model parameters

# parameters describing the Earth model
oceans       = False
ellipticity  = False
topography   = False
gravity      = False
rotation     = False
attenuation  = False


######################################################################
[Specfem3DGlobe.solver]                            ; solver parameters

# 'forward', 'adjoint', or 'both'
simulation-type = forward

# save last frame of forward simulation or not
save-forward = False

# record length in minutes
record-length = 40.0*minute

# absorbing boundary conditions for a regional simulation
absorbing-conditions = False

# save AVS or OpenDX movies
movie-surface          = False
movie-volume           = False
ntstep-between-frames  = 100
hdur-movie             = 0.0

# restart files (number of runs can be 1, 2 or 3, choose 1 for no restart files)
number-of-runs      = 1
number-of-this-run  = 1

# interval at which we output time step info and max of norm of displacement
ntstep-between-output-info = 200

# interval in time steps for temporary writing of seismograms
ntstep-between-output-seismos = 5000000

# flag to impose receivers at the surface or allow them to be buried
receivers-can-be-buried = False

# print source time function
print-source-time-function = False


# end of file
