# example preferences file for the Pyrized verion of Specfem 3D Globe
# copy to ~/.pyre/Specfem3DGlobe/Specfem3DGlobe.cfg


[Specfem3DGlobe]

# path to store the local database files on each node
local-path = /scratch/DATABASES_MPI_DIMITRI


# end of file
