<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<title>SPECFEM3D Global Solver</title>
</head>
<body>
<p>
<img src="http://www.gps.caltech.edu/research/jtromp/research/graphics/mpi_slicesThumbnail.gif">
<h1>Regional Simulation</h1>

<p>Simulation type: $solver.simulation_type

<form name="default" action="specfem.py" method="POST">

<input type="hidden", name="template", value="regional2.html.tmpl">
<input type="hidden", name="solver.simulation-type", value="$solver.simulation_type">

<p>Number of chunks:<br>
<input type="radio", name="template", value="regional_c1_1.html.tmpl" CHECKED>1
<input type="radio", name="template", value="regional_c2_1.html.tmpl">2
<input type="radio", name="template", value="regional_c3_1.html.tmpl">3

<p><input type="submit" value="Next">

</form>

</body>
</html>
