<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<title>SPECFEM3D Regional Solver</title>
</head>
<body>
<img src="http://www.gps.caltech.edu/research/jtromp/research/graphics/mpi_slicesThumbnail.gif">
<h1>Regional Simulation</h1>

<p>&nbsp;&nbsp;Simulation type: $solver.simulation_type</p>

<form action="specfem.py" method="POST">

<input type="hidden", name="template", value="page1.html.tmpl">
<input type="hidden", name="solver.simulation-type", value="$solver.simulation_type">
<input type="hidden", name="mesher.nchunks", value="2">
<input type="hidden", name="solver.absorbing-conditions", value="1">
<input type="hidden", name="solver.number-of-runs", value="1">
<input type="hidden", name="solver.number-of-this-run", value="1">
<input type="hidden", name="solver.ntstep-between-output-info", value="100">
<input type="hidden", name="solver.ntstep-between-output-seismos", value="100">
&nbsp;&nbsp;Parameter Settings for Regional Simulation<br>

<table border=1>
	<tr>
		<td width=10>&nbsp;</td>
		<td>
			<table border=1>
				<tr>
					<td width="351" colspan="3">REGION</td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Angular Width Eta</td>
					<td width="120"><input type="text" name="mesher.angular-width-eta" value="90.0*deg"></td>
					<td width="35"><input style="font-weight: bold; font-style: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Angular Width Xi</td>
					<td width="120"><input type="text" name="mesher.angular-width-xi" value="90.0*deg"></td>
					<td width="35"><input style="font-weight: bold; font-style: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Center Latitude</td>
					<td width="120"><input type="text" name="mesher.center-latitude" value="0.0*deg"></td>
					<td width="35"><input style="font-weight: bold; font-style: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Center Longitude</td>
					<td width="120"><input type="text" name="mesher.center-longitude" value="0.0*deg"></td>
					<td width="35"><input style="font-weight: bold; font-style: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Gamma Rotation Azimuth</td>
					<td width="120"><input type="text" name="mesher.gamma-rotation-azimuth" value="0.0*deg"></td>
					<td width="35"><input style="font-weight: bold; font-style: italic" type=button value=" i " name=0></td>
				</tr>
			</table>

			<table border=1>
				<tr>
					<td width="351" colspan="3">MESH</td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Number of Chunks</td>
					<td width="120">2</td>
					<td width="35">&nbsp;</td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Nproc Xi</td>
					<td width="120">
						<select name="mesher.nproc-xi" size="1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4" selected>4</option>
							<option value="5">5</option>
						</select>
					</td>
					<td width="35">
						<INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0>
					</td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Nproc&nbsp;Eta</td>
					<td width="120">
						<select name="mesher.nproc-eta" size="1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4" selected>4</option>
							<option value="5">5</option>
						</select>
					</td>
					<td width="35"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Nex Xi</td>
					<td width="120">
						<select name="mesher.nex-xi" size="1">
							<option value="64">c = 1 --&gt; 64</option>
							<option value="128">c = 2 --&gt; 128</option>
							<option value="192">c = 3 --&gt; 192</option>
							<option value="256" selected>c = 4 --&gt; 256</option>
							<option value="320">c = 5 --&gt; 320</option>
						</select>
					</td>
					<td width="35"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="196">&nbsp;&nbsp;Nex Eta</td>
					<td width="120">
						<select name="mesher.nex-eta" size="1">
							<option value="64">c = 1 --&gt; 64</option>
							<option value="128">c = 2 --&gt; 128</option>
							<option value="192">c = 3 --&gt; 192</option>
							<option value="256" selected>c = 4 --&gt; 256</option>
							<option value="320">c = 5 --&gt; 320</option>
						</select>
					</td>
					<td width="35"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
			</table>

			<table border=1 width=400>
				<tr>
				<td width="400" colspan="3">MODEL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select name="model" size="1">
						<option value="isotropic_prem">isotropic prem</option>
						<option value="transversly_isotropic_prem">transversely isotropic prem</option>
						<option value="iaspei">iaspei</option>
						<option value="ak135">ak135</option>
						<option value="3D_isotropic">3D isotropic</option>
						<option value="3D_anisotropic">3D anisotropic</option>
						<option value="3D_attenuation">3D attenuation</option>
					</select>
					&nbsp;&nbsp;<font face="Arial"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0>
				</td>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="205"><input type="checkbox" name="model.oceans">&nbsp;Oceans</td>
					<td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="205"><input type="checkbox" name="model.ellipticity">&nbsp;Ellipticity&nbsp;</td>
					<td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="205"><input type="checkbox" name="model.topography">&nbsp;Topography</td>
					<td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="205"><input type="checkbox" name="model.gravity">&nbsp;Gravity&nbsp;&nbsp;&nbsp;</td>
					<td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="205"><input type="checkbox" name="model.rotation">&nbsp;Rotations</td>
					<td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="205"><input type="checkbox" name="model.attenuation">&nbsp;Attenuation&nbsp;</td>
					<td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
			</table>

			<table border=1>
				<tr>
					<td width="441" colspan="3">OUTPUT FORMAT</td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="249" height="24">&nbsp;Record Length&nbsp;&nbsp;<input type="text" name="solver.record-length" value="10.0*minute" size="10" ></td>
					<td width="22" height="24"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="249"><input type="checkbox" name="solver.receivers-can-be-buried">&nbsp;Receiver at depth</td>
					<td width="22"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="249"><input type="checkbox" name="solver.print-source-time-function">&nbsp;Print Source Time Function&nbsp;</td>
					<td width="22"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td width="249"><input type="checkbox" name="mesher.save-files">&nbsp;Save Mesh Files</td>
					<td width="22"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
				</tr>
				<tr>
					<td colspan="3">
						<table border=1 cellspacing="0" cellpadding="2">
							<tr>
								<td width="444" colspan=4>&nbsp;Movie</td>
							</tr>
							<tr>
								<td width="94">&nbsp;</td>
								<td width="113"><input type="checkbox" name="solver.movie-surface">&nbsp;Surface&nbsp;</td>
								<td width="211" rowspan="2"><i>timestep</i>&nbsp;<input type="text" name="solver.ntstep-between-frames" value="1" size="10" ></td>
								<td width="30" rowspan="2"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
							</tr>
							<tr>
								<td width="94">&nbsp;</td>
								<td width="113"><input type="checkbox" name="solver.movie-volume">&nbsp;Volume</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type="submit" value="Next">
</form>
</body>
</html>
