
{% extends "Specfem3DGlobe/root.html" %}

<!-- Django bug? -->
{% block scripts %}
{% endblock %}

{% block body %}
    <div id="header">
        <div class="navbar">
        <ul class=navbar>
            <li><a href="/specfem3dglobe/">Home</a>
            <li><a href="mailto:ykim@gps.caltech.edu">Contact Us</a>
            {% if user.is_staff %}
                <li><a href="/admin/">Admin</a>
            {% endif %}
        </ul>
        </div>
        <h1 class=ondemand><a href="/specfem3dglobe/">On Demand Simulation</a></h1>
    </div>

    <div id="sidebar">
        {% block sidebar %}

        <p><img src="http://www.gps.caltech.edu/research/jtromp/research/graphics/mpi_slicesThumbnail.gif">
        
        <p>

        <ul>
            <li><a href="/specfem3dglobe/events/">My Events</a></li>
            <li><a href="/specfem3dglobe/stations/">My Stations</a></li>
        </ul>

        <ul>
            <li><a href="/specfem3dglobe/simulations/">My Simulations</a></li>
            <li><a href="/specfem3dglobe/meshes/">My Meshes</a></li>
            <li><a href="/specfem3dglobe/models/">My Models</a></li>
        </ul>

        <hr width="50%">

        {% if user %}
            <p>Welcome, {{ user.username }}!
            <p><a href="/specfem3dglobe/registration/">Change My Information</a>
            <p>
            <form action="/specfem3dglobe/logout/" method="POST">
                <input type="submit" value="Logout">
            </form>
        {% else %}
            <p><a href="/specfem3dglobe/login/">Login</a>
        {% endif %}

        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
