
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

{% ifequal sim.mesh.nchunks 6 %}
<h1>Global Simulation</h1>
{% else %}
<h1>Regional Simulation</h1>
{% endifequal %}

<table class=properties>
<tr><th>Status:</th><td>{{ sim.get_status_display }}</td></tr>
<tr><th>Created:</th><td>{{ sim.created|date }} {{ sim.created|time }}</td></tr>
<tr><th>Modifed:</th><td>{{ sim.modified|date }} {{ sim.modified|time }}</td></tr>
<tr><th>Started:</th><td>{{ sim.started|date }} {{ sim.started|time }}</td></tr>
<tr><th>Finished:</th><td>{{ sim.finished|date }} {{ sim.finished|time }}</td></tr>
<tr><th>Output:</th><td>{% ifequal sim.get_status_display 'done' %}<a href="output.tar.gz">Download</a>{% endifequal %}</td></tr>
</table>

<p>

<table class=properties>
<tr><td>Simulation type:</td><td>{{ sim.get_simulation_type_display }}</td></tr>
</table>

<h2>Mesh</h2>
<table class=properties>
	<tr><th>Number of Chunks:</th><td>{{ sim.mesh.nchunks }}</td></tr>
	<tr><th>Angular Width &eta;:</th><td>{{ sim.mesh.angular_width_eta }}&deg;</td></tr>
	<tr><th>Angular Width &xi;:</th><td>{{ sim.mesh.angular_width_xi }}&deg;</td></tr>
	<tr><th>Center Latitude:</th><td>{{ sim.mesh.center_latitude }}&deg;</td></tr>
	<tr><th>Center Longitude:</th><td>{{ sim.mesh.center_longitude }}&deg;</td></tr>
	<tr><th>Gamma Rotation Azimuth:</th><td>{{ sim.mesh.gamma_rotation_azimuth }}&deg;</td></tr>
	<tr><th>Nproc &xi;:</th><td>{{ sim.mesh.nproc_xi }}</td></tr>
	<tr><th>Nproc &eta;:</th><td>{{ sim.mesh.nproc_eta }}</td></tr>
	<tr><th>Nex &xi;:</th><td>{{ sim.mesh.nex_xi }}</td></tr>
	<tr><th>Nex &eta;:</th><td>{{ sim.mesh.nex_eta }}</td></tr>
</table>

<h2>Model</h2>
<table class=properties>
	<tr><th>Type:</th><td>{{ sim.model.get_type_display }}</td></tr>
	<tr><th>Oceans:</th><td>{{ sim.model.oceans }}</td></tr>
	<tr><th>Ellipticity:</th><td>{{ sim.model.ellipticity }}</td></tr>
	<tr><th>Topography:</th><td>{{ sim.model.topography }}</td></tr>
	<tr><th>Gravity:</th><td>{{ sim.model.gravity }}</td></tr>
	<tr><th>Rotation:</th><td>{{ sim.model.rotation }}</td></tr>
	<tr><th>Attenuation:</th><td>{{ sim.model.attenuation }}</td></tr>
</table>


<h2>Output Format</h2>
<table class=properties>
	<tr><th>Record Length:</th><td>{{ sim.record_length }} minutes</td></tr>
	<tr><th>Receiver at depth:</th><td>{{ sim.receivers_can_be_buried }}</td></tr>
	<tr><th>Print Source Time Function:</th><td>{{ sim.print_source_time_function }}</td></tr>
	<tr><th>Save Mesh Files:</th><td>{{ sim.mesh.save_files }}</td></tr>
	<tr><td colspan=2>
		<table class=properties width="100%">
			<caption>Movie</caption>
			<tr>
				<th>Surface:</th><td>{{ sim.movie_surface }}</td>
				<th rowspan=2><i>timestep</i>:</th><td rowspan="2">{{ sim.ntstep_between_frames }}</td>
			</tr>
			<tr>
				<th>Volume:</th><td>{{ sim.movie_volume }}</td>
			</tr>
		</table>
	</tr></td>
</table>

{% endblock %}
