
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h2>Recent Simulations</h2>

{% if recent_simulations %}
    <table border=1 rules=groups>
        
        <colgroup><col class=odd><col class=even><col class=odd><col class=even></colgroup>

        <thead>
        <tr><th>name</th><th>created</th><th>status</th><th></th></tr>
        </thead>
        
        <tbody>
        {% for sim in recent_simulations %}
        <tr>
            <td><a href="/specfem3dglobe/simulations/{{ sim.id }}/">{{ sim.name }}</a></td>
            <td>{{ sim.created|date }} {{ sim.created|time }}</td>
            <td>{{ sim.get_status_display }}</td>
            <td><a href="/specfem3dglobe/simulations/{{ sim.id }}/delete/">delete</a></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
{% else %}
    <p>You have no simulations.
{% endif %}

<p>&nbsp;

{% include "Specfem3DGlobe/simulation_form_start.html" %}

{% endblock %}
