
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

	Previous Simulations:<br>
	{% if prev_simulations %}
		{% for sim in prev_simulations %}
			<a href="/specfem3dglobe/detail/{{ sim.id }}/">DATE: {{ sim.date }}, STATUS: {{ sim.get_status_display }}</a>&nbsp;&nbsp; 
			<a href="/specfem3dglobe/delete/{{ sim.id }}/">delete</a><br>
		{% endfor %}
	{% else %}
		- There is no previous simulation. <br>
	{% endif %}

<p><form action="/specfem3dglobe/wizard/" method="POST">

<b>Simulation type:</b>

<p>{{ form.mesh__nchunks }}

<p>{{ form.simulation_type }}

<input type="hidden" name="blank" value="1">

<p><input type="submit" value="Next">

</form>

{% endblock %}
