
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h1>Mesh</h1>

{% if form.has_errors %}
<h2>Please correct the following error{{ form.error_dict|pluralize }}:</h2>
{% endif %}

<form method="post" action=".">
    <table border="0">


        <tr>
            <td align="right" valign="top">{{ form.dry }}</td>
            <td valign="top"><label for="id_dry">dry</label></td>
            <td valign="top">{% if form.dry.errors %}<span class=error>{{ form.dry.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_center_longitude">center-longitude:</label></td>
            <td valign="top">{{ form.center_longitude }}</td>
            <td valign="top">{% if form.center_longitude.errors %}<span class=error>{{ form.center_longitude.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_angular_width_eta">angular-width-eta:</label></td>
            <td valign="top">{{ form.angular_width_eta }}</td>
            <td valign="top">{% if form.angular_width_eta.errors %}<span class=error>{{ form.angular_width_eta.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_nex_eta">nex-eta:</label></td>
            <td valign="top">{{ form.nex_eta }}</td>
            <td valign="top">{% if form.nex_eta.errors %}<span class=error>{{ form.nex_eta.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_center_latitude">center-latitude:</label></td>
            <td valign="top">{{ form.center_latitude }}</td>
            <td valign="top">{% if form.center_latitude.errors %}<span class=error>{{ form.center_latitude.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_angular_width_xi">angular-width-xi:</label></td>
            <td valign="top">{{ form.angular_width_xi }}</td>
            <td valign="top">{% if form.angular_width_xi.errors %}<span class=error>{{ form.angular_width_xi.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_nproc_eta">nproc-eta:</label></td>
            <td valign="top">{{ form.nproc_eta }}</td>
            <td valign="top">{% if form.nproc_eta.errors %}<span class=error>{{ form.nproc_eta.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_gamma_rotation_azimuth">gamma-rotation-azimuth:</label></td>
            <td valign="top">{{ form.gamma_rotation_azimuth }}</td>
            <td valign="top">{% if form.gamma_rotation_azimuth.errors %}<span class=error>{{ form.gamma_rotation_azimuth.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_nchunks">nchunks:</label></td>
            <td valign="top">{{ form.nchunks }}</td>
            <td valign="top">{% if form.nchunks.errors %}<span class=error>{{ form.nchunks.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_nproc_xi">nproc-xi:</label></td>
            <td valign="top">{{ form.nproc_xi }}</td>
            <td valign="top">{% if form.nproc_xi.errors %}<span class=error>{{ form.nproc_xi.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top">{{ form.save_files }}</td>
            <td valign="top"><label for="id_save_files">save-files</label></td>
            <td valign="top">{% if form.save_files.errors %}<span class=error>{{ form.save_files.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_nex_xi">nex-xi:</label></td>
            <td valign="top">{{ form.nex_xi }}</td>
            <td valign="top">{% if form.nex_xi.errors %}<span class=error>{{ form.nex_xi.errors|join:", " }}</span>{% endif %}</td>
        </tr>

    </table>
    <p><input type="submit" value="Save" />
</form>
{% endblock %}
