
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h1>Models</h1>

{% if object_list %}
    <table border="0">
        <tr>
            <th align="left" valign="top">id</th>
            <th align="left" valign="top">actions</th>
            <th align="left" valign="top">oceans</th>
            <th align="left" valign="top">gravity</th>
            <th align="left" valign="top">attenuation</th>
            <th align="left" valign="top">topography</th>
            <th align="left" valign="top">rotation</th>
            <th align="left" valign="top">ellipticity</th>

        </tr>

        {% for object in object_list %}
        <tr>
            <th valign="top">{{ object.id }}</th>
            <td valign="top"><a href="{{ object.id }}/">Edit</a> <a href="{{ object.id }}/delete/">Delete</a></td>
            <td valign="top">{{ object.oceans }}</td>
            <td valign="top">{{ object.gravity }}</td>
            <td valign="top">{{ object.attenuation }}</td>
            <td valign="top">{{ object.topography }}</td>
            <td valign="top">{{ object.rotation }}</td>
            <td valign="top">{{ object.ellipticity }}</td>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>You have no models.</p>
{% endif %}

<p><a href="create/">Create model</a>

{% endblock %}
