<html>
<body>
<h1>MODEL</h1>

<b>Istropic_PREM</b>:  Isotropic version of the spherically symmetric Preliminary Reference Earth Model (PREM) [Dziewonski and Anderson, 1981].<br><br>

<b>Transverserly_isotropic_PREM</b>:  Transversely isotropic version of PREM.<br><br>

<b>3D anisotropic</b>:  3D mantle model S20RTS [Ritsema et al., 1999] and 3D crustal model Crust2.0 [Bassin et al., 2000].  Note that S20RTS uses transversely isotropic PREM as a background model, and that we use the PREM radial attenuation model when attenuation is incorporated.<br><br>
<img src="http://www.gps.caltech.edu/research/jtromp/research/graphics/ritsema_dvs_mntlmdl.gif"><br><br>

<b>OCEAN</b>:  Turn this option on to incorporate the effect of the oceans on seismic wave propagation [Komatitsch and Tromp, 2002b].<br><br>

<b>ELLIPTICITY</b>: Turn this option on to make the Earth model elliptical in shape according to Clairaut's equation [Dahlen and Tromp, 1998].<br><br>
<img src="http://www.gps.caltech.edu/research/jtromp/research/graphics/ellipticity_mesh.gif"><br><br>

<b>TOPOGRAPHY</b>: Turn this option on to incorporate the topography and bathymetry based upon model ETOPO5 [NOAA, 1988].<br><br>
<img src="http://www.gps.caltech.edu/research/jtromp/research/graphics/topography_earth_mesh.gif"><br><br>

<b>GRAVITY</b>: Turn this option on to incorporate the self-gravitation in the Cowling approximation [Komatitsch and Tromp, 2002b, Dahlen and Tromp, 1998].<br><br> 

<b>ROTATION</b>: Turn this option on to incorporate the Coriolis effect. <br><br>

<b>ATTENUATION</b>: Turn this option on to incorporate the attenuation. <br><br>

</body>
</html>
