<html>
<body>
<h1>OUTPUT FORMAT</h1>

<b>RECORD LENGTH IN MINUTES</b>:  The desired record length of the synthetic seismograms (in minutes).  This controls the length of the numerical simulation, i.e., twice the record length requires twice as much CPU time.<br><br>

<b>SAVE MESH FILES</b>: Turn this option on to save AVS (www.avs.com ), OpenDX (www.opendx.org ), or ParaView (www.paraview.org ) mesh files for subsequent viewing. <br><br>

<b>RECEIVERS CAN BE BURIED</b>: Turn this option on to accommodate stations with instruments that are buried, i.e., the solver will calculate seismograms at the burial depth specifed in the STATIONS file. <br><br>

<b>PRINT SOURCE TIME FUNCTION</b>:  Turn this option on to print information about the source time function in the file OUTPUT FILES/plot_source_time function.txt. <br><br>

</body>
</html>
