
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h1>Change Password</h1>

<p>
{% if form.has_errors %}
<b class=error>Please correct the following error{{ form.error_dict|pluralize }}:</b>
{% else %}
&nbsp;
{% endif %}

<form action="" method="post">
    <table border="0">

        <tr>
            <td align="right" valign="top"><label for="id_old_password">Old password:</label></td>
            <td valign="top">{{ form.old_password }}</td>
            <td valign="top">{% if form.old_password.errors %}<span class=error>{{ form.old_password.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_new_password1">New password:</label></td>
            <td valign="top">{{ form.new_password1 }}</td>
            <td valign="top">{% if form.new_password1.errors %}<span class=error>{{ form.new_password1.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_new_password2">Confirm password:</label></td>
            <td valign="top">{{ form.new_password2 }}</td>
            <td valign="top">{% if form.new_password2.errors %}<span class=error>{{ form.new_password2.errors|join:", " }}</span>{% endif %}</td>
        </tr>

    </table>

    <p><input type="submit" value="Change my password" /></p>
</form>

{% endblock %}
