
<p>
{% if form.has_errors %}
<b class=error>Please correct the following error{{ form.error_dict|pluralize }}:</b>
{% else %}
&nbsp;
{% endif %}

<form method="post" action="." id=registration>
    <table border="0">

      {% if user.is_anonymous %}
        <tr>
            <td align="right" valign="top"><label for="id_username">Username:</label></td>
            <td valign="top">{{ form.username }}</td>
            <td valign="top">{% if form.username.errors %}<span class=error>{{ form.username.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_password">Password:</label></td>
            <td valign="top">{{ form.password}}</td>
            <td valign="top">{% if form.password.errors %}<span class=error>{{ form.password.errors|join:", " }}</span>{% endif %}</td>
        </tr>
      {% else %}
        <tr>
            <td align="right" valign="top"><label>Password:</label></td>
            <td valign="top"><a href="password/">Change</a></td>
            <td valign="top"></td>
        </tr>
      {% endif %}

        <tr>
            <td align="right" valign="top"><label for="id_last_name">Last name:</label></td>
            <td valign="top">{{ form.last_name}}</td>
            <td valign="top">{% if form.last_name.errors %}<span class=error>{{ form.last_name.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_first_name">First name:</label></td>
            <td valign="top">{{ form.first_name}}</td>
            <td valign="top">{% if form.first_name.errors %}<span class=error>{{ form.first_name.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_email">E-Mail:</label></td>
            <td valign="top">{{ form.email}}</td>
            <td valign="top">{% if form.email.errors %}<span class=error>{{ form.email.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_institution">Institution:</label></td>
            <td valign="top">{{ form.institution}}</td>
            <td valign="top">{% if form.institution.errors %}<span class=error>{{ form.institution.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_address1">Address:</label></td>
            <td valign="top">{{ form.address1 }} (optional)</td>
            <td valign="top">{% if form.address1.errors %}<span class=error>{{ form.address1.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_address2">City:</label></td>
            <td valign="top">{{ form.address2}} (optional)</td>
            <td valign="top">{% if form.address2.errors %}<span class=error>{{ form.address2.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_address3">State &amp; ZIP:</label></td>
            <td valign="top">{{ form.address3 }} (optional)</td>
            <td valign="top">{% if form.address3.errors %}<span class=error>{{ form.address3.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_phone">Phone #:</label></td>
            <td valign="top">{{ form.phone}} (optional)</td>
            <td valign="top">{% if form.phone.errors %}<span class=error>{{ form.phone.errors|join:", " }}</span>{% endif %}</td>
        </tr>

    </table>

    <p><input type="submit" value="Save"/>
</form>
