
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h1>{% block heading %}Simulation{% endblock %}</h1>

<form action="/specfem3dglobe/create_simulation/" method="POST">
<input type="hidden" name="mesh_type" value="{% block mesh_type %}{% endblock %}">
<input type="hidden" name="simulation_type" value="{{ simulation_type }}">
<input type="hidden" name="simulation_cmt_solution" value="{{ simulation_cmt_solution }}">
<input type="hidden" name="events" value="{{ events }}">

            <img align="right" src="http://www.gps.caltech.edu/research/jtromp/research/graphics/{% block mesh_image %}{% endblock %}">

            <table border=0>
                <tr>
                    <td><h2>Mesh</h2></td>
                    <td valign="top">
                        <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/mesh/','infowin','width=500,height=400,resizable=1,top=50,left=50');">
                    </td>
                </tr>
                <tr>
                    <td>Nproc &xi;</td>
                    <td>
                        <select name="mesh_nproc_xi" size="1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nproc &eta;</td>
                    <td>
                        <select name="mesh_nproc_eta" size="1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nex &xi;</td>
                    <td>
                        <select name="mesh_nex_xi" size="1">
                            <option value="64">c = 1 --&gt; 64</option>
                            <option value="128">c = 2 --&gt; 128</option>
                            <option value="192">c = 3 --&gt; 192</option>
                            <option value="256" selected>c = 4 --&gt; 256</option>
                            <option value="320">c = 5 --&gt; 320</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nex &eta;</td>
                    <td>
                        <select name="mesh_nex_eta" size="1">
                            <option value="64">c = 1 --&gt; 64</option>
                            <option value="128">c = 2 --&gt; 128</option>
                            <option value="192">c = 3 --&gt; 192</option>
                            <option value="256" selected>c = 4 --&gt; 256</option>
               
                        </select>
                    </td>
                </tr>
                {% block mesh %}
                {% endblock %}
            </table>

            <img align="right" src="http://www.gps.caltech.edu/research/jtromp/research/graphics/ellipticity_mesh.gif">

            <br>
            <table border=0>
                <tr>
                    <td>
                        <h2>Model&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/model/','infowin','width=500,height=400,resizable=1,top=50,left=50');"></h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="model_type" size="1">
                            <option value="1">isotropic prem</option>
                            <option value="2">transversely isotropic prem</option>
                            <option value="3">iaspei</option>
                            <option value="4">ak135</option>
                            <option value="5">3D isotropic</option>
                            <option value="6">3D anisotropic</option>
                            <option value="7">3D attenuation</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="model_oceans">Oceans</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="model_ellipticity">Ellipticity</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="model_topography">Topography</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="model_gravity">Gravity</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="model_rotation">Rotations</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="model_attenuation">Attenuation</td>
                </tr>
            </table>

            <br>
            <table border=0>
                <tr>
                    <td>
                        <h2>Output Format&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/output_format/','infowin','width=500,height=400,resizable=1,top=50,left=50');"></h2>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;Record Length&nbsp;<input type="text" name="simulation_record_length" value="10.0" size="10" > minutes </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="simulation_receivers_can_be_buried">Receiver at depth</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="simulation_print_source_time_function">Print Source Time Function</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="mesh_save_files">Save Mesh Files</td>
                </tr>
                <tr>
                    <td>
                        <table border=0 cellspacing="0" cellpadding="2">
                            <tr>
                                <td colspan=2>
                                    <h2>Movie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/movie/','infowin','width=500,height=400,resizable=1,top=50,left=50');"></h2>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="simulation_movie_surface">Surface</td>
                                <td rowspan="2">&nbsp;<i>timestep</i>&nbsp;<input type="text" name="simulation_ntstep_between_frames" value="100" size="10" ></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="simulation_movie_volume">Volume</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

<input type="submit" value="Create">

{% endblock %}
