
{% extends "Specfem3DGlobe/simulation_form_2chunks.html" %}

      {% block mesh_chunk_size %}
        <!-- for 3 or more chunks, to match geometrically, the chunks must have an angular width of 90 degrees in both directions -->
        <input type="hidden" name="mesh__angular_width_eta" value="90.0">
        <input type="hidden" name="mesh__angular_width_xi" value="90.0">
      {% endblock %}

   <!-- Django bug? These must be here for sub-templates to override them. -->

      {% block mesh_chunk_position %}
      {{ block.super }}
      {% endblock %}

    {% block heading %}{{ block.super }}{% endblock %}
    {% block mesh_image %}{{ block.super }}{% endblock %}

    <!-- for 3 or more chunks, the number of processors and spectral elements must be the same in both directions  -->

    {% block mesh_nproc %}

    <table border=0>
        <tr>
            <td valign="top"><label for="id_mesh__nproc">Nproc:</label></td>
            <td valign="top">{{ form.mesh__nproc }}</td>
            <td valign="top">{% if form.mesh__nproc.errors %}<span class=error>{{ form.mesh__nproc.errors|join:", " }}</span>{% endif %}</td>
        </tr>
    </table>

    <div class="scripted">
        <p>Total number of required processors:
           Nchunks &times; Nproc<span style="vertical-align: super">2</span> =
           <input class="computed" name="total_nproc" readonly value="?" size="4">
    </div>

    {% endblock %}


    {% block mesh_nex %}

    <p>Number of spectral elements per chunk at the earth's surface:

    <p>Nex = 16 &times; {{ form.mesh__nex_c }}
             &times; Nproc<span style="vertical-align: super">2</span>
             <span id="mesh__nex_span" class="scripted">= <input name="mesh__nex" class="computed" readonly value="?" size="3"></span>
             {% if form.mesh__nex.errors %}<span class=error>{{ form.mesh__nex.errors|join:", " }}</span>{% endif %}

    {% endblock %}


    {% block mesh_script %}
    {% include "Specfem3DGlobe/update_mesh_3or6chunks.html" %}
    {% endblock %}
