
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h1>{% block heading %}Regional Simulation{% endblock %}</h1>

<p>
{% if form.has_errors %}
<b class=error>Please correct the following error{{ form.error_dict|pluralize }}:</b>
<!-- for debugging
<ul>
    {% for e in form.error_dict.iteritems %}
    <li>Field "{{ e.0 }}": {{ e.1|join:", " }}</li>
    {% endfor %}
</ul>
-->
{% else %}
&nbsp;
{% endif %}

<form name="simulation_form" action="." method="POST">

    <!-- hidden fields -->
    {{ form.mesh__user }}
    {{ form.mesh__nchunks }}
    {{ form.model__user }}
    {{ form.user }}
    {{ form.mesh }}
    {{ form.model }}
    {{ form.simulation_type }}
    {{ form.absorbing_conditions }}

    <p>Name for this simulation: {{ form.name }} {% if form.name.errors %}<span class=error>{{ form.name.errors|join:", " }}</span>{% endif %}

    <h2>Event</h2>

    <p>{{ form.events }} {% if form.events.errors %}<span class=error>{{ form.events.errors|join:", " }}</span>{% endif %}

    <h2>Stations</h2>

    <p><span class=hint>Hold down "Control", or "Command" on a Mac, to select more than one. Hold down "Shift" to select a range of stations.</span> 

    <p>{{ form.stations }} {% if form.stations.errors %}<span class=error>{{ form.stations.errors|join:", " }}</span>{% endif %}

    <h2>Mesh</h2>

    <img align="right" src="{% block mesh_image %}http://www.gps.caltech.edu/research/jtromp/research/graphics/gridpoints.gif{% endblock %}">

    <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/mesh/','infowin','width=500,height=400,resizable=1,top=50,left=50,scrollbars=1');">

    <h3>Chunks</h3>

    <p>Nchunks = {{ form.data.mesh__nchunks }}

    <table border=0>
      {% block mesh_chunk_size %}
        <tr>
            <td valign="top"><label for="id_mesh__angular_width_eta">Angular Width &eta;:</label></td>
            <td valign="top">{{ form.mesh__angular_width_eta }}</td>
            <td valign="top">{% if form.mesh__angular_width_eta.errors %}<span class=error>{{ form.mesh__angular_width_eta.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td valign="top"><label for="id_mesh__angular_width_xi">Angular Width &xi;:</label></td>
            <td valign="top">{{ form.mesh__angular_width_xi }}</td>
            <td valign="top">{% if form.mesh__angular_width_xi.errors %}<span class=error>{{ form.mesh__angular_width_xi.errors|join:", " }}</span>{% endif %}</td>
        </tr>
      {% endblock %}

      {% block mesh_chunk_position %}
        <tr>
            <td valign="top"><label for="id_mesh__center_latitude">Center Latitude:</label></td>
            <td valign="top">{{ form.mesh__center_latitude }}</td>
            <td valign="top">{% if form.mesh__center_latitude.errors %}<span class=error>{{ form.mesh__center_latitude.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td valign="top"><label for="id_mesh__center_longitude">Center Longitude:</label></td>
            <td valign="top">{{ form.mesh__center_longitude }}</td>
            <td valign="top">{% if form.mesh__center_longitude.errors %}<span class=error>{{ form.mesh__center_longitude.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td valign="top"><label for="id_mesh__gamma_rotation_azimuth">Gamma Rotation Azimuth:</label></td>
            <td valign="top">{{ form.mesh__gamma_rotation_azimuth }}</td>
            <td valign="top">{% if form.mesh__gamma_rotation_azimuth.errors %}<span class=error>{{ form.mesh__gamma_rotation_azimuth.errors|join:", " }}</span>{% endif %}</td>
        </tr>
      {% endblock %}

    </table>

    <h3>Processors</h3>

    {% block mesh_nproc %}

    <table border=0>
        <tr>
            <td valign="top"><label for="id_mesh__nproc_xi">Nproc &xi;:</label></td>
            <td valign="top">{{ form.mesh__nproc_xi }}</td>
            <td valign="top">{% if form.mesh__nproc_xi.errors %}<span class=error>{{ form.mesh__nproc_xi.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td valign="top"><label for="id_mesh__nproc_eta">Nproc &eta;:</label></td>
            <td valign="top">{{ form.mesh__nproc_eta }}</td>
            <td valign="top">{% if form.mesh__nproc_eta.errors %}<span class=error>{{ form.mesh__nproc_eta.errors|join:", " }}</span>{% endif %}</td>
        </tr>
    </table>

    <div class="scripted">
        <p>Total number of required processors:
           Nchunks &times; Nproc &xi; &times; Nproc &eta; =
           <input class="computed" name="total_nproc" readonly value="?" size="4">
    </div>

    {% endblock %}

    <h3>Spectral Elements</h3>

    {% block mesh_nex %}

    <p>Number of spectral elements per chunk at the earth's surface:

    <p>Nex &xi; = 16 &times; {{ form.mesh__nex_xi_c }}
                  &times; Nproc &xi;
                  <span id="mesh__nex_xi_span" class="scripted">= <input name="mesh__nex_xi" class="computed" readonly value="?" size="3"></span>
                  {% if form.mesh__nex_xi.errors %}<span class=error>{{ form.mesh__nex_xi.errors|join:", " }}</span>{% endif %}

    <p>Nex &eta; = 16 &times; {{ form.mesh__nex_eta_c }}
                  &times; Nproc &eta;
                  <span id="mesh__nex_eta_span" class="scripted">= <input name="mesh__nex_eta" class="computed" readonly value="?" size="3"></span>
                  {% if form.mesh__nex_eta.errors %}<span class=error>{{ form.mesh__nex_eta.errors|join:", " }}</span>{% endif %}

    {% endblock %}

    {% block mesh_script %}
    {% include "Specfem3DGlobe/update_mesh_1or2chunks.html" %}
    {% endblock %}

    <h2>Model</h2>

    <img align="right" src="http://www.gps.caltech.edu/research/jtromp/research/graphics/ellipticity_mesh.gif">

    <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/model/','infowin','width=500,height=400,resizable=1,top=50,left=50,scrollbars=1');">

    <p>{{ form.model__type }} {% if form.model__type.errors %}<span class=error>{{ form.model__type.errors|join:", " }}</span>{% endif %}

    <ul>
        <li>{{ form.model__oceans }}       <label for="id_model__oceans">Oceans</label>
        <li>{{ form.model__ellipticity }}  <label for="id_model__ellipticity">Ellipticity</label>
        <li>{{ form.model__topography }}   <label for="id_model__topography">Topography</label>
        <li>{{ form.model__gravity }}      <label for="id_model__gravity">Gravity</label>
        <li>{{ form.model__rotation }}     <label for="id_model__rotation">Rotation</label>
        <li>{{ form.model__attenuation }}  <label for="id_model__attenuation">Attenuation</label>
    </ul>

    <h2>Output Format</h2>

    <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/output_format/','infowin','width=500,height=400,resizable=1,top=50,left=50,scrollbars=1');">

	<br><br>
    <table border=0>
        <tr>
            <td valign="top"><label for="id_record_length">Record length:</label></td>
            <td valign="top">{{ form.record_length }} minutes</td>
            <td valign="top">{% if form.record_length.errors %}<span class=error>{{ form.record_length.errors|join:", " }}</span>{% endif %}</td>
        </tr>

    </table>
	<input type="hidden" name="ntstep_between_output_info" value="100">
	<input type="hidden" name="ntstep_between_output_seismos" value="5000">

    <ul>
        <li>{{ form.receivers_can_be_buried }}     <label for="id_receivers_can_be_buried">Receiver at depth</label>
    </ul>
	<input type="hidden" name="print_source_time_function" value="False">
	<input type="hidden" name="mesh__save_files" value="False">

    <h2>Movie</h2>

    <input type="button" value="info" onclick="window.open('/specfem3dglobe/info/movie/','infowin','width=500,height=400,resizable=1,top=50,left=50,scrollbars=1');">

    <ul>
        <li>{{ form.movie_surface }}  <label for="id_movie_surface">Surface</label>
    </ul>
	<input type="hidden" name="movie_volume" value="False">

    <table border=0>
        <tr>
            <td valign="top"><label for="id_ntstep_between_frames">Time steps between frames:</label></td>
            <td valign="top">{{ form.ntstep_between_frames }}</td>
            <td valign="top">{% if form.ntstep_between_frames.errors %}<span class=error>{{ form.ntstep_between_frames.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td valign="top"><label for="id_hdur_movie">Convolve source time function by Gaussian with half duration:</label></td>
            <td valign="top">{{ form.hdur_movie }}</td>
            <td valign="top">{% if form.hdur_movie.errors %}<span class=error>{{ form.hdur_movie.errors|join:", " }}</span>{% endif %}</td>
        </tr>
    </table>

    <p><input type="submit" value="Create">

</form>

{% endblock %}
