
{% extends "Specfem3DGlobe/simulation_form_3chunks.html" %}

{% block heading %}Global Simulation{% endblock %}

{% block mesh_image %}http://www.gps.caltech.edu/research/jtromp/research/graphics/ORIG/ThumbnailEarthSlices.png{% endblock %}

      <!-- chuck position is meaningless for a global simulation -->
      {% block mesh_chunk_position %}
        <input type="hidden" name="mesh__center_latitude" value="0.0">
        <input type="hidden" name="mesh__center_longitude" value="0.0">
        <input type="hidden" name="mesh__gamma_rotation_azimuth" value="0.0">
      {% endblock %}
