
{% extends "Specfem3DGlobe/simulation_base.html" %}

{% block heading %}Regional Simulation{% endblock %}
{% block mesh_type %}regional{% endblock %}

                {% block mesh_image %}gridpoints.gif{% endblock %}
                {% block mesh %}
				<tr>
					<td>Angular Width &eta;</td>
					<td><input type="text" name="mesh_angular_width_eta" value="90.0" size="5"> * deg </td>
				</tr>
				<tr>
					<td>Angular Width &xi;</td>
					<td><input type="text" name="mesh_angular_width_xi" value="90.0" size="5"> * deg </td>
				</tr>
				<tr>
					<td>Center Latitude</td>
					<td><input type="text" name="mesh_center_latitude" value="0.0" size="5"> * deg </td>
				</tr>
				<tr>
					<td>Center Longitude</td>
					<td><input type="text" name="mesh_center_longitude" value="0.0" size="5"> * deg </td>
				</tr>
				<tr>
					<td>Gamma Rotation Azimuth</td>
					<td><input type="text" name="mesh_gamma_rotation_azimuth" value="0.0" size="5"> * deg </td>
				</tr>
                <tr>
                    <td>Number of Chunks</td>
                    <td>
                        <select name="mesh_nchunks" size="1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                </tr>
                {% endblock %}
