
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h1>{% block heading %}Simulation{% endblock %}</h1>

<form action="/specfem3dglobe/create_simulation/" method="POST">
<input type="hidden" name="mesh_type" value="{% block mesh_type %}{% endblock %}">
<input type="hidden" name="simulation_type" value="{{ simulation_type }}">
<input type="hidden" name="simulation_cmt_solution" value="{{ simulation_cmt_solution }}">

            <h2>Mesh</h2>

            <table border=0>
                <tr>
                    <td width="196">&nbsp;&nbsp;Nproc Xi</td>
                    <td width="120">
                        <select name="mesh_nproc_xi" size="1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td width="35">
                        <INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0>
                    </td>
                </tr>
                <tr>
                    <td width="196">&nbsp;&nbsp;Nproc&nbsp;Eta</td>
                    <td width="120">
                        <select name="mesh_nproc_eta" size="1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td width="35"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="196">&nbsp;&nbsp;Nex Xi</td>
                    <td width="120">
                        <select name="mesh_nex_xi" size="1">
                            <option value="64">c = 1 --&gt; 64</option>
                            <option value="128">c = 2 --&gt; 128</option>
                            <option value="192">c = 3 --&gt; 192</option>
                            <option value="256" selected>c = 4 --&gt; 256</option>
                            <option value="320">c = 5 --&gt; 320</option>
                        </select>
                    </td>
                    <td width="35"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="196">&nbsp;&nbsp;Nex Eta</td>
                    <td width="120">
                        <select name="mesh_nex_eta" size="1">
                            <option value="64">c = 1 --&gt; 64</option>
                            <option value="128">c = 2 --&gt; 128</option>
                            <option value="192">c = 3 --&gt; 192</option>
                            <option value="256" selected>c = 4 --&gt; 256</option>
                            <option value="320">c = 5 --&gt; 320</option>
                        </select>
                    </td>
                    <td width="35"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                {% block mesh %}
                {% endblock %}
            </table>

            <h2>Model</h2>

            <table border=0 width=400>
                <tr>
                <td width="400" colspan="3">
                    <select name="model_type" size="1">
                        <option value="1">isotropic prem</option>
                        <option value="2">transversely isotropic prem</option>
                        <option value="3">iaspei</option>
                        <option value="4">ak135</option>
                        <option value="5">3D isotropic</option>
                        <option value="6">3D anisotropic</option>
                        <option value="7">3D attenuation</option>
                    </select>
                    &nbsp;&nbsp;<font face="Arial"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0>
                </td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="205"><input type="checkbox" name="model_oceans">&nbsp;Oceans</td>
                    <td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="205"><input type="checkbox" name="model_ellipticity">&nbsp;Ellipticity&nbsp;</td>
                    <td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="205"><input type="checkbox" name="model_topography">&nbsp;Topography</td>
                    <td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="205"><input type="checkbox" name="model_gravity">&nbsp;Gravity&nbsp;&nbsp;&nbsp;</td>
                    <td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="205"><input type="checkbox" name="model_rotation">&nbsp;Rotations</td>
                    <td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="205"><input type="checkbox" name="model_attenuation">&nbsp;Attenuation&nbsp;</td>
                    <td width="163"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
            </table>

            <h2>Output Format</h2>

            <table border=0>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="249" height="24">&nbsp;Record Length&nbsp;&nbsp;<input type="text" name="simulation_record_length" value="10.0" size="10" > minutes </td>
                    <td width="22" height="24"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="249"><input type="checkbox" name="simulation_receivers_can_be_buried">&nbsp;Receiver at depth</td>
                    <td width="22"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="249"><input type="checkbox" name="simulation_print_source_time_function">&nbsp;Print Source Time Function&nbsp;</td>
                    <td width="22"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td width="32">&nbsp;</td>
                    <td width="249"><input type="checkbox" name="mesh_save_files">&nbsp;Save Mesh Files</td>
                    <td width="22"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table border=0 cellspacing="0" cellpadding="2">
                            <tr>
                                <td width="444" colspan=4><h2>Movie</h2></td>
                            </tr>
                            <tr>
                                <td width="94">&nbsp;</td>
                                <td width="113"><input type="checkbox" name="simulation_movie_surface">&nbsp;Surface&nbsp;</td>
                                <td width="211" rowspan="2"><i>timestep</i>&nbsp;<input type="text" name="simulation_ntstep_between_frames" value="1" size="10" ></td>
                                <td width="30" rowspan="2"><INPUT style="FONT-WEIGHT: bold; FONT-STYLE: italic" type=button value=" i " name=0></td>
                            </tr>
                            <tr>
                                <td width="94">&nbsp;</td>
                                <td width="113"><input type="checkbox" name="simulation_movie_volume">&nbsp;Volume</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

<input type="submit" value="Create">

{% endblock %}
