
<script language="javascript"><!--

// JavaScript to dynamically compute mesh parameters/info.  Degrades
// gracefully when JavaScript is unavailable.

function update_mesh() {
    form = document.simulation_form;

    nchunks = {{ form.data.mesh__nchunks }};
    nproc = (form.mesh__nproc.value-0);

    c = (form.mesh__nex_c.value-0);
    form.mesh__nex.value = 16 * c * nproc;

    form.total_nproc.value = nchunks * nproc * nproc;
}

// event binding
document.simulation_form.mesh__nproc.onchange = update_mesh;
document.simulation_form.mesh__nex_c.onchange = update_mesh;

//--></script>
