
{% extends "Specfem3DGlobe/base.html" %}

{% block content %}

<h1>New User Registration</h1>

{% if form.has_errors %}
<p><b class=error>Please correct the following error{{ form.error_dict|pluralize }}:</b>
{% endif %}

<form method="post" action=".">
    <table border="0">

        <tr>
            <td align="right" valign="top"><label for="id_userid">USERNAME:</label></td>
            <td valign="top">{{ form.userid }}</td>
            <td valign="top">{% if form.userid.errors %}<span class=error>{{ form.userid.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_password">PASSWORD:</label></td>
            <td valign="top">{{ form.password}}</td>
            <td valign="top">{% if form.password.errors %}<span class=error>{{ form.password.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_lastname">LAST NAME:</label></td>
            <td valign="top">{{ form.lastname}}</td>
            <td valign="top">{% if form.lastname.errors %}<span class=error>{{ form.lastname.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_firstname">FIRST NAME:</label></td>
            <td valign="top">{{ form.firstname}}</td>
            <td valign="top">{% if form.firstname.errors %}<span class=error>{{ form.firstname.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_email">EMAIL:</label></td>
            <td valign="top">{{ form.email}}</td>
            <td valign="top">{% if form.email.errors %}<span class=error>{{ form.email.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_institution">INSTITUTION:</label></td>
            <td valign="top">{{ form.institution}}</td>
            <td valign="top">{% if form.institution.errors %}<span class=error>{{ form.institution.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_address1">ADDRESS:</label></td>
            <td valign="top">{{ form.address1 }} (optional)</td>
            <td valign="top">{% if form.address1.errors %}<span class=error>{{ form.address1.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_address2">CITY:</label></td>
            <td valign="top">{{ form.address2}} (optional)</td>
            <td valign="top">{% if form.address2.errors %}<span class=error>{{ form.address2.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_address3">STATE &amp; ZIP:</label></td>
            <td valign="top">{{ form.address3 }} (optional)</td>
            <td valign="top">{% if form.address3.errors %}<span class=error>{{ form.address3.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_phone">PHONE #:</label></td>
            <td valign="top">{{ form.phone}} (optional)</td>
            <td valign="top">{% if form.phone.errors %}<span class=error>{{ form.phone.errors|join:", " }}</span>{% endif %}</td>
        </tr>

    </table>
    <p><input type="submit" value="Save"/> <input type="button" value="Cancel" onclick="history.back();"/>
</form>
{% endblock %}
